p {
  font-size: 1.5em;
}

.odstavek {
  color: red;
}

#odst1 {
  font-family: 'Courier New', Courier, monospace;
}

#odst2 {
  font-family: 'Arial';
}

#odst3 {
  font-family: Georgia, 'Times New Roman', Times, serif
}